
#contact_page
    position: relative
    width: 100%
    padding-top: 70px

.title_section
    text-align: center
    text-transform: uppercase
    font-size: 24px
    letter-spacing: 2px
    position: relative
    text-shadow: 1px 1px 2px rgba(26,26,26,.25)

.contact_content_page
    margin-top: 40px

.contact_content_block_page
    width: 50%
    float: left
    padding: 30px 60px

    & h3
        text-shadow: 1px 1px 2px rgba(26,26,26,.25)
        font-weight: bold
        line-height: 30px
        font-size: 22px
        font-family: 'Montserrat', sans-serif
        margin-bottom: 20px

    & p a
        font-size: 20px
        color: rgba(26, 26, 26, 0.6)
        transition: 0.3s
        -webkit-transition: 0.3s
        -moz-transition: 0.3s
        -o-transition: 0.3s
        text-decoration: none

    & p a:hover
        text-decoration: none
        color: rgba(26, 26, 26, 0.9)

    & p
 /* margin-bottom: 20px; */
        margin: 0

    &:last-child
        float: right

.smart
    position: relative

.input_group
    margin-bottom: 15px
    position: relative

.smart:before
    content: ''
    left: -16px
    top: 16px
    position: absolute
    width: 6px
    height: 6px
    background-color: #b21919
    z-index: 1
    border-radius: 50%

#contact_page button, #contact_page input, #contact_page select, #contact_page textarea
    font-size: 100%
    margin: 0
    vertical-align: baseline
    max-width: 100%

    &
        font-family: 'Arimo', sans-serif
        font-size: 16px
        color: #494949
        font-weight: 300

#contact_page input
    width: 100%
    text-indent: 8px
    padding: 8px
    font-size: 16px
    border: 2px solid #a9a9a9

    &:focus, #contact_page textarea:focus
        border: 2px solid rgba(26,26,26,.9)
        outline: none

#find_me
    padding-top: 30px

.title_section_find_me
    color: rgba(26,26,26,.9)
    margin: 20px 0
    text-shadow: 1px 1px 2px rgba(26,26,26,.25)
    font-weight: 400
    font-family: Merriweather

#contact_page textarea
    width: 100%
    border: 2px solid #a9a9a9
    text-indent: 8px
    font-size: 16px
    padding: 8px
    overflow: auto
    vertical-align: top

#contact_page .button, #contact_page button, #contact_page input[type="button"], #contact_page input[type="reset"], #contact_page input[type="submit"], #contact_page .comment-reply-link, #contact_page .tagcloud a, #contact_page .tagcloud a:visited
    cursor: pointer
    -webkit-appearance: button
    font-family: 'Montserrat', sans-serif
    display: inline-block
    outline: none
    text-align: center
    text-decoration: none
    text-transform: uppercase

#contact_page input[type="submit"]
    width: auto
    border: 2px solid rgba(26,26,26,.9)
    border-radius: none
    font-size: 14px
    font-weight: bold
    padding: 12px 20px
    color: rgba(26,26,26,.9)
    outline: none
    transition: 0.6s
    -webkit-transition: 0.6s
    -moz-transition: 0.6s
    -o-transition: 0.6s
    text-indent: 0
    background-color: #fff

    &:hover
        background-color: rgba(26,26,26,.9)
        color: #fff

.bg_transparent
 /*-webkit-filter: grayscale(100%);*/
 /*filter: grayscale(100%);*/
    height: 360px
