.section
	position: relative
	height: 100vh

	& .section-center
		position: absolute
		top: 50%
		left: 0
		right: 0
		-webkit-transform: translateY(-50%)
		transform: translateY(-50%)

#booking
	font-family: 'PT Sans', sans-serif
	background-image: url('../img/background.jpg')
	background-size: cover
	background-position: center

.booking-form
	width: 100%
	background: rgba(0, 0, 0, 0.7)
	padding: 40px
	border-radius: 6px

	& .form-group
		position: relative
		margin-bottom: 20px

	& .form-control
		background-color: #fff
		height: 50px
		color: #191a1e
		border: none
		font-size: 16px
		font-weight: 400
		-webkit-box-shadow: none
		box-shadow: none
		border-radius: 40px
		padding: 0px 25px
