#result_top
    background: rgba(34, 35, 93, 0.9)
    padding: 16px 0
    width: 100%
    color: #fff
    border-top: 1px solid rgba(255, 255, 255, 0.4)
    .result_top_content
        a
            float: right
            transition: .4s
            &:hover
                text-decoration: none
                color: #fff
        ul
            margin: 0
            li
                display: inline-block
                list-style: none

#result
    padding: 60px 0
    form
        margin: 60px 0
        h4
            margin-bottom: 18px
    ul,li
        list-style: none
        margin: 0
        padding: 0
    li
        padding: 4px 0
        i
            margin-right: 6px
    tr
        td
            vertical-align: middle
            p
                text-align: center
                margin: 0
                padding: 0
                i
                    margin-right: 6px
            .rating
                text-align: center
                display: block
                i
                    color: #f23e3e
                    padding: 0 2px
            a
                font-size: 15px
                line-height: 34px
                font-weight: normal
                font-style: normal
                font-stretch: normal
                color: #767676
                text-decoration: none
                display: block
                .direction-arrow
                    padding: 0 15px
                .button_buy_ticets
                    float: right
                    font-size: 14px
                    min-width: 110px
                    text-align: center
                    text-decoration: none
                    cursor: pointer
                    border: 1px solid #f23e3e
                    span
                        background-color: #ffffff
                        color: #f23e3e
                        z-index: 100
                        &:last-child
                            display: none
                            background-color: #f23e3e
                            color: #ffffff
                    &:hover
                        span
                            &:first-child
                                display: none
                            &:last-child
                                display: block
